@font-face {
    font-family: Magic Retro;
    src: url(./Magic\ Retro.ttf);
}

@font-face {
    font-family: CHERL;
    src: url(./CHERL.TTF);
}

@font-face {
    font-family: Vanger;
    src: url(./Vanger.ttf);
}